@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 15px !important;
    font-weight: 700 !important;
    color: #242424 !important;
    padding: 20px;
}
