@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", sans-serif;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 15px !important;
    font-weight: 700 !important;
    color: #242424 !important;
}
.swiper-button-prev {
    left: -7px !important;
    background-color: #fff !important;
    height: 100% !important;
    top: 14px !important;
    width: 47px !important;
}
.swiper-button-next {
    right: -7px !important;
    background-color: #fff !important;
    height: 100% !important;
    top: 14px !important;
    width: 47px !important;
}

.swal-button-container{
    display: none !important;
}
