.hero-container {
    background: url("../../../assets/image/hero-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    top: -80px;
    z-index: 10;
}
